{% extends 'base.html.twig' %}

{% block title %}Un livre{% endblock %}

{% block body %}
<main>
<div class = "container_cards">
{% if null != groupBooks %}

    {% for groupBook in groupBooks %}
  <h1> {{groupBook.book.title}}</h1>
      <div class = "card">
        <img src="./../../assets/css/images/polar.png" alt="">
        <h3>Titre du livre : {{ groupBook.book.title }}</h3>
        <img src="{{ groupBook.book.image }}" alt="random image">
        <p>Résumé : {{ groupBook.book.content }}</p>
        <p>Auteur : {{ groupBook.author.firstname }} {{ groupBook.author.lastname }}</p>
        <p>Editeur : {{ groupBook.editor.name }}</p>
        <p>Prix : {{ groupBook.book.price }}  &#8364;</p>
        
        <a href="{{ path('show_review', {id: groupBook.book.id}) }}">Cliquez ici pour lire les commentaires</a>
        <a href="{{ path('cart_add', {id: groupBook.book.id}) }}">Ajoutez au panier</a>
        <a href="{{ path('cart') }}">Voir mon panier</a>
      </div>
     {% endfor %}
  {% else %}
      <p>Il n'y a pas encore le livre que vous demandez.</p>
  {% endif %}
</div>
  </main>
{% endblock %}
